@using Microsoft.AspNetCore.Components.Sections
<h3>DifferentSimpleThingy</h3>
<SectionContent SectionName="HeadContentFromPage">
    <script src="different-simple.js" type="module"></script>
</SectionContent>
