<div>
    <p>A different thingy</p>
    <div class="text-amber-500" thing>Imperative thingy default text</div>
</div>

@code
{
    [Inject]
    protected IHttpContextAccessor HttpContextAccessor { get; init; } = default!;

    protected override void OnInitialized()
    {
        var feature = HttpContextAccessor.HttpContext!.Features.Get<IJavaScriptSourceFeature>()!;
        feature.AddSource(new ExternalJavaScriptSource("thingy.js"));
    }
}