@inherits JavaScriptComponentBase

<div>
    <p>Thingy</p>
    <div class="text-blue-500" thing>Inheriting thingy default text</div>
</div>

@code
{
    protected override IEnumerable<IJavaScriptSource> JavaScriptSources { get; } =
    [
        new ExternalJavaScriptSource("thingy.js")
    ];
}
