@using BlazorIslands.Features
@inherits JavaScriptComponentBase

<div>
    <p>A different thingy</p>
    <div class="text-amber-500" data-different-thingy>This text should be replaced by JavaScript.</div>
</div>

@code
{
    protected override IEnumerable<JavaScriptSource> JavaScriptSources { get; } =
    [
        new JavaScriptSource("different-thingy.js")
    ];
}