@using BlazorIslands.Features
<div>
    <p>Thingy</p>
    <div class="text-blue-500" id="thingy">This text should be replaced by JavaScript.</div>
</div>

@code
{
    [Inject] IJavaScriptSourceFeature JavaScriptSourceFeature { get; init; } = null!;

    protected override void OnInitialized()
    {
        JavaScriptSourceFeature.AddSource(new JavaScriptSource("thingy.js"));
    }
}