@inherits JavaScriptComponentBase
@using BlazorIslands.Features
<div>
    <p>Thingy</p>
    <div class="text-blue-500" id="thingy">This text should be replaced by JavaScript.</div>
</div>

@code
{
    protected override IEnumerable<JavaScriptSource> JavaScriptSources { get; } =
    [
        new JavaScriptSource("thingy.js")
    ];
}
