@using BlazorIslands.Features
<div>
    <p>Thingy</p>
    <div class="text-blue-500" id="thingy">This text should be replaced by JavaScript.</div>
</div>

@code
{
    [Inject] IHttpContextAccessor HttpContextAccessor { get; init; } = null!;

    protected override void OnInitialized()
    {
        Console.WriteLine("Thingy.razor OnInitialized() called.");
        if (HttpContextAccessor.HttpContext!.Features.Get<JavaScriptSourceFeature>() is { } javascriptSrcFeature)
        {
            javascriptSrcFeature.AddSource(new JavaScriptSource("thingy.js"));
        }
    }
}